<footer>
    <div class="container">
        <div class="footer-content">
            <div class="footer-info">
                 <div class="footer-logo">
                    <p class="footer-description">
                        Transform your low-code automations into powerfil, maintable code with our intelligent conversion platform.
                    </p>
                    <div class="social-link">
                        
                    </div>
                 </div>
            </div>
        </div>
    </div>
